<!DOCTYPE html>
<html>
  <head>
    <title>Assignment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
  </head>
  <body id="grad">
    <div class="container">
      <div class="row">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>

       <p class="navbar-text float-right">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to "Edit profile", edit_user_registration_path, class: "navbar-link" %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-link"  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, class: "navbar-link"  %> |
        <%= link_to "Sign In", new_user_session_path, class: "navbar-link"  %>
      <% end %>
      </p>
    <%= yield %>
    <div>
      <div>
  </body>
</html>
